* {
	/*border: 1px solid black;*/
}
/* ===== BODY ===== */
body {
	margin: 0;
	padding: 0;
	font-family: Lato;

}
/* ===== END BODY ===== */

/* ===== BACKGROUND ===== */
.backgroundcover {
	background: url("Contents/background.jpg");
	background-size: cover;
	min-height: 805px;
}
/* ===== END BACKGROUND ===== */

/* ===== HEADER ===== */
#logoheader {
	height: 100px;
	padding: 0px 200px 0px 50px;
}

.header {
	display: flex;
	align-items: center;
	height: 150px;
}

.header a {
	color: white;
	margin: 0px 23px 0px 23px;
	padding-bottom: 5px;
	text-decoration: none;
	font-weight: lighter;
	text-transform: uppercase;
	font-size: 1.2em;
	border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.header a:hover {
	border-bottom: 2px solid #8b111a;
}
/* ===== END HEADER =====*/

/* ===== SECTION 0 ===== */
.section0 {
	margin: 250px 0px 0px 20px;
}

.section0 h1 {
	color: #FFF;
	font-weight: lighter;
	font-size: 1.7em;
	word-spacing: 0.1em;
}

.boutons {
	display: flex;
}

.section0 a {
	color: #FFF;
	padding: 15px;
	margin-left: 15px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 0.7em;
	font-weight: lighter;
	border: 1px solid #FFF;
	border-radius: 30px;
	word-spacing: 0.5em;
}

.section0 a:hover {
	border: 1px solid ;
	background-color: rgba(139, 17, 26, 0.3);
	transition: 0.4s;
}
/* ===== END SECTION 0 ===== */

/* ===== SECTION 1 ===== */
.section1 {
	height: 500px;
}

.section1 h1 {
	padding: 30px 0px 0px 0px;
	text-align: center;
	font-weight: lighter;
	font-size: 1.9em;
	color: #595959;
}

.section1 hr {
	width: 20%;
	border-color: #8b111a;
}

.section1 h3 {
	text-align: center;
	font-weight: lighter;
}

.icon-big {
	font-size: 200%;
	color: #8b111a;
}
/* ===== END SECTION 1 ===== */

/* ===== SECTION 2 ===== */
/* ===== END SECTION 2 ===== */

/* ===== SECTION 3 ===== */
/* ===== END SECTION 3 ===== */

/* ===== ENDSECTION 4 ===== */
/* ===== END SECTION 4 ===== */

/* ===== SECTION 5 ===== */
/* ===== END SECTION 5 ===== */


